* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 90vh;
  margin: 0;
  background-color: #a9a9a9;
}

header {
  background: #000000;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 5vh;
  width: 100vw;
}

header h1 {
  text-align: center;
  font-size: 100%;
  font: inherit;
  font-family: "Roboto", sans-serif;
}

.voltar {
  position: absolute;
  text-decoration: none;
  text-align: center;
  font: inherit;
  font-family: "Roboto", sans-serif;
  color: white;
  left: 37px;
  font-size: 100%;
}

.popup {
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 250px;
  width: 500px;
  background-color: #357ec7;
  z-index: 900;
  border: 1px solid black;
  border-radius: 10px 10px 0 0;
}

.cabecalho-popup {
  margin-top: 3px;
  color: lightgray;
  font-weight: bold;
}

.msg-popup {
  position: relative;
  box-sizing: border-box;
  color: black;
  padding: 10px;
  background-color: lightgray;
  margin: 0 auto;
  margin-top: 1em;
  width: 95%;
  height: 80%;
  margin-bottom: 10px;
}

.fechar {
  text-align: center;
  position: absolute;
  cursor: pointer;
  color: white;
  background-color: #ff605c;
  height: 22px;
  width: 22px;
  right: 0;
  top: 0;
  margin: 5px;
  border-radius: 5px;
  border: none;
  padding: 1px 7px 2px 6px;
}

.fechar:hover {
  background-color: #ff5f5cb6;
}

.texto-popup {
  margin: 15px;
}

.ok-popup {
  position: absolute;
  bottom: 25px;
  height: 30px;
  width: 70px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.hide-popup {
  display: none;
}

main {
  display: grid;
  grid-template-columns: 1fr auto auto 1fr;
  grid-template-rows: 1fr;
  column-gap: 100px;
  padding: 50px;
}

.desconto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 250px;
  width: 250px;
  background: gray;
  border-radius: 50%;
  grid-column: span 1;
  align-self: center;
  justify-self: center;
  box-shadow: 3px 2px 2px 1px rgb(61, 61, 61);
  font-family: "Roboto", sans-serif;
}

.texto-desconto {
  font-size: 40px;
  color: white;
  font-weight: bold;
}

.numero-desconto {
  font-size: 75px;
  margin: 2px;
  font-weight: bold;
}

.jogo {
  position: relative;
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.botao-sorteio {
  width: 200px;
  height: 70px;
  margin: 2px;
  margin-bottom: 5px;
  cursor: pointer;
  box-shadow: 3px 2px 2px 1px rgb(61, 61, 61);
  border: none;
  border-radius: 30px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  font-size: 200%;
  background: gray;
  color: white;
}

.botaoSorteio:hover {
  box-shadow: 1px 1px 1px 1px rgb(61, 61, 61);
}

.informacao {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #325d9d;
  color: white;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  margin: 20px 0px 10px 10px;
}

.container-instrucoes {
  position: absolute;
  color: white;
  left: -1000vw;
  padding: 10px;
  background-color: black;
  z-index: 100;
}

.container-instrucoes hr {
  width: 80%;
  margin: 20px auto;
}

.item-instrucoes {
  left: 0px;
  list-style-type: upper-roman;
}

.titulo-instrucao {
  text-align: center;
  font-weight: bold;
}

.class-hover {
  background-color: black;
  left: 20px;
  top: 135px;
  width: 250px;
  /* top: 17px; */
  opacity: 0.85;
  color: white;
  /* left: 41px; */
}

.fundo-vermelho {
  background-color: red;
}

.palavra-secreta {
  display: flex;
  font-size: 2.5rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 3px solid gray;
  width: 480px;
  height: 150px;
  background: #dcdcdc;
  border-radius: 10px;
}

.dashes {
  margin: 5px;
}

.teclado {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  height: 100px;
  width: 500px;
}

.letra {
  width: 35px;
  height: 35px;
  cursor: pointer;
  box-shadow: 3px 3px 3px 1px gray;
  border: 1px solid dimgray;
  border-radius: 5px;
  font-weight: bolder;
  font-family: "Roboto", sans-serif;
  grid-column: span 1;
  grid-row: span 1;
  transition: 0.1;
}

.letra-certa {
  background: lightgreen;
  box-shadow: 1px 1px 1px 1px gray;
}

.letra-errada {
  background: lightpink;
  box-shadow: 1px 1px 1px 1px gray;
}

.letra:hover {
  box-shadow: 1px 1px 1px 1px gray;
}

.letra-dicas {
  font-size: 12px;
  width: 180px;
  grid-column: span 4;
}

.section-dicas {
  display: flex;
  flex-direction: column;
  gap: 50px;
  grid-column: span 1;
  width: 400px;
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
}

.espaco-dica {
  background: gray;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px 30px;
  height: 100px;
  width: 300px;
  box-shadow: 3px 2px 2px 1px rgb(61, 61, 61);
}

.titulo-dica {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.texto-dica {
  color: black;
  font-size: 13px;
  font-weight: bold;
  margin-top: 8px;
}
